<div class="container w-70">
    <form action="">
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col-3">
                        Tree
                    </th>
                    <th class="col-3">
                        ID
                    </th>
                    <th class="col-3">
                        Name
                    </th>
                    <th class="col-3">
                        #children
                    </th>
                </tr>
            </thead>
            <tbody>
                <app-row [depth]="depth" [nodes]="nodes" [template]="linhas">
                </app-row>
            </tbody>
        </table>
    </form>
    <ng-template #linhas let-d="depth" let-n="node" let-s="show">
        <tr class="row">
            <td class="col-3" [ngStyle]="{'padding-left':(d*20)+'px'}">
                <span *ngIf="n.children" (click)="s.visible = !s.visible">
                    <fa-icon *ngIf="!s.visible" [icon]="faPlusSquare"></fa-icon>
                    <fa-icon *ngIf="s.visible" [icon]="faMinusSquare"></fa-icon>
                </span>
                <span *ngIf="!n.children">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </span>
                {{n.name}}
            </td>
            <td class="col-3" style="background-color:aquamarine;" (click)="s.visible = !s.visible">
                {{n.id}}
            </td>
            <td class="col-3">
                <span #edit></span>
                <span *ngIf="!edit.visivel" (click)="edit.visivel = true">{{n.name}}</span>
                <input *ngIf="edit.visivel" (keyup.enter)="edit.visivel=false" (blur)="edit.visivel = false"
                    [size]="n.name.length" class="form-control" type="text" name="n.id" [(ngModel)]="n.name" />
            </td>
            <td class="col-3">
                {{n.children?n.children.length:0}}
            </td>
        </tr>
    </ng-template>
</div>