.type-icon {
  color: #757575;
  margin-right: 5px;
}

.w70 {
  min-width: 70%;
  width: 70%;
}

.w50 {
  min-width: 50%;
  width: 50%;
}

.w30 {
  min-width: 30%;
  width: 30%;
}

.w10 {
  min-width: 10%;
  width: 10%;
}

.pointer {
  cursor: pointer;
}

tr.border td {
  border-bottom: 1px solid gray;
}